<div class="row">
	<div class="large-9 columns">
<h1>Listing ideas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Number of likes</th>
      <th>Number of dislikes</th>
      <th>State</th>
      <th>Board</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= idea.number_of_likes %></td>
        <td><%= idea.number_of_dislikes %></td>
        <td><%= idea.state %></td>
        <td><%= idea.board_id %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

	</div>
  <div class="large-3 columns">
		<%= link_to 'New Idea', new_idea_path %>
  </div>
</div>