<%= provide(:title, full_name(@user)) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= full_name(@user) %>
      </h1>
    </section>
  </aside>
  <div class="span8">
  	<h2>Boards</h2>
  	<% if @user.boards.any? %>
  		<h3><%= pluralize(@user.boards.count, "board") %> owned
  		<% if current_user?(@user) %>
  			| <%= link_to "Add a board", new_board_path %>
  		<% end %>
  		</h3>
  		<ul class="board-list">
  			<% @user.boards.each do |board| %>
  				<li><%= board.name %></li>
  			<% end %>
  		</ul>
  	<% end %>

  	<% if @user.joined_boards.any? %>
  	<hr>
  		<h3><%= pluralize(@user.joined_boards.count, "board") %> joined
  		</h3>
  		<ul class="board-list">
  			<% @user.joined_boards.each do |board| %>
  				<li><%= board.name %>
              <% if current_user?(@user) %>
              | <%= link_to "leave", membership_path(board.id), method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </li>
  			<% end %>
  		</ul>
  	<% end %>
  </div>	
</div>



