<div class="row">
	<div class="large-9 columns">
		<h1>Available Boards</h1>
		<% @boards.each do |board| %>
		<hr>
		<div class="row">
		  <div class="large-2 columns small-3"><%= gravatar_for User.find(board.user_id) %></div>
		  <div class="large-10 columns">
				<h4><a href="/boards/<%=board.id%>"><%= board.name %></a></h4>
		    <p><%= board.description %></p>
		    <ul class="inline-list">
		      <li><%= link_to 'Learn More', board %></li>
					<% if @current_user_id == board.user_id %>
		      <li><%= link_to 'Edit', edit_board_path(board) %></li>
					<li><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></li>
					<% end %>
		    </ul>
		  </div>
		</div>
		<% end %>		
	</div>
  <div class="large-3 columns">
    <p><%= link_to 'New Board', new_board_path, :class => "button radius" %></p>
  </div>
</div>